<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Blog</title>
</head>
<body>
    <form>
        <label for="title">Blog title</label>
        <input type="text" id="title" name="title" required>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" required>
        <label for="content">Body</label>
        <input type="text" id="content" name="content" required>
        <button type="submit">Submit</button>
    </form>
    <h3 style="color: red;visibility: hidden;" class="error"></h3>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async (event)=>{
            event.preventDefault();
            const title = form.title.value;
            const description = form.description.value;
            const content = form.content.value;
            try{
                const res = await fetch('/blogs', {
                    method: 'POST',
                    body: JSON.stringify({ title, description, content }),
                    headers: {'Content-Type': 'application/json'}
                });
                const data = await res.json();
                if (data.errors){
                    const titleError = document.querySelector('.error');
                    titleError.style.visibility = 'visible';
                    titleError.textContent = data.errors;
                    setTimeout(()=>{
                        titleError.style.visibility = 'hidden';
                        titleError.textContent = 'brr';
                    }, 5*1000);
                    
                } else{
                    location.assign(data.redirect);
                }
            } catch(err){
                
            }
        });
    </script>
</body>
</html>