<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
</head>
<body>
    <a href="/"><h1>Blogs</h1></a>
    <a href="/signup"><h1>Sign up</h1></a>
    <% if (blogs) { %> 
        <% blogs.forEach(blog=>{ %>
            <a href="/blogs/detail/<%= blog._id %> ">
                <p><%= blog.title %> </p>
                <p><%= blog.description %> </p>
                <hr>
            </a>
        <% }) %> 
    <% } %> 
    <a href="/blogs/create">create a blog</a>
</body>
</html>