<%- include('partials/header'); -%>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">Sign Up!</h2>
                <div class="text-center mb-5 text-dark">Create A New Account!</div>
                <div class="card my-5">

                    <form class="card-body cardbody-color p-lg-5 login">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" id="username"   aria-describedby="emailHelp"
                                placeholder="Username" >
                        </div>
                        <div class="username error"></div>

                        <div class="mb-3">
                            <input type="text" class="form-control" name="email" id="email"   aria-describedby="emailHelp"
                                placeholder="Email" >
                        </div>
                        <div class="email error"></div>

                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="password error"></div>

                        <button type="submit" class="btn btn-outline-success px-5 mb-5 w-100">Login</button>

                        <div id="emailHelp" class="form-text text-center mb-5 text-dark">Already Have An Account? <a href="/signup" class="text-dark fw-bold"> Login</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async (event)=>{
            event.preventDefault();
            const username = form.username.value;
            const password = form.password.value;
            const email = form.email.value;
            const emailError = document.querySelector('.email.error');
            const passwordError = document.querySelector('.password.error');
            const usernameError = document.querySelector('.username.error');
            try{
                const res = await fetch('/signup', {
                    method: 'POST',
                    body: JSON.stringify({ username, password, email }),
                    headers: {'Content-Type': 'application/json'}
                });
                const data = await res.json();
                if (data.errors){
                    emailError.textContent = data.errors.email;
                    passwordError.textContent = data.errors.password;
                    usernameError.textContent = data.errors.username;
                } else{
                    location.assign(data.redirect);
                }
            } catch(err){
                console.log(err);
            }
        });
    </script>
<%- include('partials/footer'); -%>