<%- include('partials/header'); -%>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">Sign Up!</h2>
                <div class="text-center mb-5 text-dark">Create A New Account!</div>
                <div class="card my-5">

                    <form class="card-body cardbody-color p-lg-5 login">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" id="username"   aria-describedby="emailHelp"
                                placeholder="Username" >
                        </div>
                        <div class="username error"></div>

                        <div class="mb-3">
                            <input type="text" class="form-control" name="email" id="email"   aria-describedby="emailHelp"
                                placeholder="Email" >
                        </div>
                        <div class="email error"></div>

                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="password error"></div>

                        <button type="submit" class="btn btn-outline-success px-5 mb-5 w-100">Login</button>

                        <div id="emailHelp" class="form-text text-center mb-5 text-dark">Already Have An Account? <a href="/login" class="text-dark fw-bold"> Login</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    
<script src="/js/signup.js"></script>
<%- include('partials/footer'); -%>